.ancestor .styled{
    font-family: "Times New Roman", sans-serif, serif;
    font-size: medium;
    font-weight: 300;
    font-size: 22px;
    color: red;
    background-color: yellow;
    text-align: center;
}